{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'tweetapp/form.css' %}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="min-h-full">
        <nav class="bg-gray-800">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <p class="text-white text-xl">TWEET App</p>
                </div>
                <div class="hidden md:block">
                  <div class="ml-10 flex items-baseline space-x-4">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="{% url 'tweetapp:listtweets' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">All Tweets</a>
                    <a href="{% url 'tweetapp:showmytweet' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">My Tweets</a>
                    <a href="{% url 'tweetapp:addtweet' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Add Tweet</a>
                    <a href="{% url 'login' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Login</a>
                    {% if request.user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="POST" id ="logout" class="nav-link">
                      {% csrf_token %}
                      <input class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" type="submit" value="Logout">
                    </form>
                    {% else %}
                    <a href="{% url 'tweetapp:signup' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Sign up</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </nav>
        {%block content%} 
        
        {%endblock%}
      </div>
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <p class="text-xl font-bold tracking-tight text-gray-900" style="opacity:0.2">Created by Hamza Ünsal<br>Github.com/neymaro</p>
      </div>
</body>
</html>